Repository Didask/scol-r: changes, and which lint-staged commands are due for each by the changed paths.
All: size-limit --limit 1KB, size-limit --limit 4KB, eslint --fix

Hash ids
  package.json
  src/HTMLGenerator.ts
  src/hashString.test.ts
  src/hashString.ts
  src/index.ts
  src/loadContent.js
  src/loadContent.test.ts
Due: eslint --fix

Hash ids (#58)
  package.json
  src/HTMLGenerator.ts
  src/hashString.test.ts
  src/hashString.ts
  src/index.ts
  src/loadContent.js
  src/loadContent.test.ts
Due: eslint --fix

Make sure scorm connect setLessonStatus always commit after lesson status change
  package.json
  src/MessageHandler.ts
Due: none

SUPPORT-1259 Make sure scorm connect setLessonStatus always commit after lesson status change (#59)
  package.json
  src/MessageHandler.ts
Due: none

Allow microphone in iframe
  package.json
  src/loadContent.js
Due: eslint --fix

Allow microphone in iframe (#60)
  package.json
  src/loadContent.js
Due: eslint --fix

Use adapter.LMSCommit instead of adapter.commit
  package.json
  src/MessageHandler.ts
Due: none

Use adapter.LMSCommit instead of adapter.commit (#61)
  package.json
  src/MessageHandler.ts
Due: none

Create LICENSE
  LICENSE
Due: none

Bump packages
  yarn.lock
Due: none

Bump packages (#62)
  yarn.lock
Due: none

Change color and content of error message to make it less worrysome
  index.html
  package.json
  src/loadContent.js
Due: size-limit --limit 1KB, eslint --fix

ODC-6851 - Change color and content of error message to make it less worrysome (#64)
  index.html
  package.json
  src/loadContent.js
Due: size-limit --limit 1KB, eslint --fix

Increment version
  package.json
Due: none

Increment version to 2.14.0 (#65)
  package.json
Due: none

Fix runtime error color
  package.json
  src/HTMLGenerator.ts
Due: none

Fix runtime error color (#66)
  package.json
  src/HTMLGenerator.ts
Due: none

v2.16.0
  package.json
Due: none

Updates to 2.16.0
  yarn.lock
Due: none

Remove the commit at status change since there is already a commit after each message recieved
  package.json
  src/MessageHandler.ts
Due: none

ODC-6851 - Remove the commit at status change since there is already a commit after each message recieved (#67)
  package.json
  src/MessageHandler.ts
Due: none

Add fullscreen permission to iframe allow attribute
  src/loadContent.js
Due: eslint --fix

Allow fullscreen iframe
  package.json
  src/loadContent.js
  src/loadContent.test.ts
Due: eslint --fix

ODC-9525 - Scol-r Allow fullscreen iframe (#70)
  package.json
  src/loadContent.js
  src/loadContent.test.ts
Due: eslint --fix

Fix the 2004 manifest shape
  package.json
  src/ManifestGenerator.test.ts
  src/ManifestGenerator.ts
Due: none

ODC-9669 - Fix the 2004 manifest shape (#74)
  package.json
  src/ManifestGenerator.test.ts
  src/ManifestGenerator.ts
Due: none

Use LMSInitialize as the condition to detect 2004 / 1.2
  package.json
  src/SCORMAdapter.test.ts
  src/SCORMAdapter.ts
Due: none

FIX - ODC-9797 - Use LMSInitialize as the condition to detect 2004 / 1.2 (#76)
  package.json
  src/SCORMAdapter.test.ts
  src/SCORMAdapter.ts
Due: none

feat: emit cmi.progress_measure via setProgress (SCORM 2004)
  package.json
  src/MessageHandler.ts
  src/SCORMAdapter.test.ts
  src/SCORMAdapter.ts
Due: none

feat: emit cmi.progress_measure via setProgress (SCORM 2004) (#78)
  package.json
  src/MessageHandler.ts
  src/SCORMAdapter.test.ts
  src/SCORMAdapter.ts
Due: none

Path conditions:
  size-limit --limit 1KB: any of: index.html
  size-limit --limit 4KB: any of: dist/scol-r.js
  eslint --fix: any of: src/**/*.js
