Repository Didask/scol-r: changes, and which lint-staged commands are due for each by the changed paths.
All: size-limit --limit 1KB, size-limit --limit 4KB, eslint --fix

.lintstagedrc:

{
  "index.html": [
    "size-limit --limit 1KB"
  ],
  "dist/scol-r.js": [
    "size-limit --limit 4KB"
  ],
  "src/**/*.js": [
    "eslint --fix",
    "git add"
  ]
}

Adds setStudent
  package.json
  src/MessageHandler.ts
  src/SCORMAdapter.ts
Due: none

Fix duration format and add test
  package.json
  src/SCORMAdapter.test.ts
  src/SCORMAdapter.ts
Due: none

v2.2.9
  package.json
Due: none

Fix version and exclude test fils from build
  tsconfig.json
Due: none

Fixes messages between emitter and receiver
  package.json
  src/MessageHandler.ts
  src/loadContent.js
Due: eslint --fix

Fixes messages between emitter and receiver (#39)
  package.json
  src/MessageHandler.ts
  src/loadContent.js
Due: eslint --fix

Revert window.top modification
  src/MessageHandler.ts
  src/loadContent.js
Due: eslint --fix

2.3.1
  package-lock.json
  package.json
Due: none

Revert window.top modification (#40)
  package-lock.json
  package.json
  src/MessageHandler.ts
  src/loadContent.js
Due: eslint --fix

Sends learner name to lms
  package-lock.json
  src/loadContent.js
Due: eslint --fix

Sends learner name to lms (#41)
  package-lock.json
  src/loadContent.js
Due: eslint --fix

Add tests
  babel.config.js
  package.json
  src/ManifestGenerator.ts
  src/SCORMAdapter.test.ts
  src/loadContent.js
  src/loadContent.test.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix

Add tests (#42)
  babel.config.js
  package.json
  src/ManifestGenerator.ts
  src/SCORMAdapter.test.ts
  src/loadContent.js
  src/loadContent.test.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix

Asks for sco href when creating it
  package.json
  src/ManifestGenerator.ts
Due: none

Asks for sco href when creating it (#43)
  package.json
  src/ManifestGenerator.ts
Due: none

Put title in lom general information
  package.json
  src/ManifestGenerator.ts
Due: none

Send session_time every 10 secondes and not only in beforeunload
  package.json
  src/loadContent.js
Due: eslint --fix

Send session_time every 10 secondes and not only in beforeunload (#45)
  package.json
  src/loadContent.js
Due: eslint --fix

Upgrade to 2.5.3 because of wrong publishing
  package.json
Due: none

Upgrade to 2.5.3 because of wrong publishing (#46)
  package.json
Due: none

Handles asynchronous commits
  package.json
  src/SCORMAdapter.ts
Due: none

Handles asynchronous commits (#47)
  package.json
  src/SCORMAdapter.ts
Due: none

testing zip
  .gitignore
  imsmanifest.xml
  index.html
  mf-readme.md
  package-lock.json
  src/MessageHandler.ts
  src/SCORMAdapter.ts
  yarn.lock
Due: size-limit --limit 1KB

Fixes wrong comparison
  package.json
  src/SCORMAdapter.ts
Due: none

Fixes time interval format
  package.json
  src/SCORMAdapter.test.ts
  src/SCORMAdapter.ts
Due: none

Adds other mandatory data to manifest
  package.json
  src/ManifestGenerator.ts
Due: none

Adds other mandatory data to manifest (#48)
  package.json
  src/ManifestGenerator.ts
Due: none

Fix manifest
  package.json
  src/ManifestGenerator.ts
Due: none

SUPPORT-564 Fix manifest (#49)
  package.json
  src/ManifestGenerator.ts
Due: none

embed browser player
  index.html
  src/loadContent.js
Due: size-limit --limit 1KB, eslint --fix

update module name
  imsmanifest.xml
Due: none

soco updates
  src/MessageHandler.ts
  src/SCORMAdapter.ts
Due: none

Fixes showing error message
  src/SCORMAdapter.ts
Due: none

Fixes showing error message (#54)
  src/SCORMAdapter.ts
Due: none

Pass into strict mode
  src/ManifestGenerator.ts
  src/MessageHandler.ts
  src/SCORMAdapter.ts
  tsconfig.json
Due: none

Pass into strict mode (#55)
  src/ManifestGenerator.ts
  src/MessageHandler.ts
  src/SCORMAdapter.ts
  tsconfig.json
Due: none

Bump version
  package.json
Due: none

Bump version (#56)
  package.json
Due: none

Removes data_from_lms retrieval as we dont use it directly and it induce an issue on rise
  package.json
  src/SCORMAdapter.ts
  src/loadContent.js
  src/loadContent.test.ts
Due: eslint --fix

Removes data_from_lms retrieval as we dont use it directly and it induce an issue on rise (#57)
  package.json
  src/SCORMAdapter.ts
  src/loadContent.js
  src/loadContent.test.ts
Due: eslint --fix
